body {
  background: #202324;
}

.header {
  height: 5vh;
  text-align: right;
  margin-right: 15px;
  background: #202324;
}

.login-dark {
  height: 77vh;
}
.socialMedia {
  height: 7vh;
  background: #373c3d;
}
.wil {
  font-size: 10px;
}

div {
  text-align: center;
}

.login-dark form {
  max-width: 320px;
  width: 90%;
  background-color: #202324;
  padding: 40px;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
}

.login-dark .illustration {
  text-align: center;
  padding: 15px 0 20px;
  font-size: 100px;
  color: #2980ef;
}

.login-dark form .form-control {
  background: none;
  border: none;
  border-bottom: 1px solid #434a52;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
}

.login-dark form .btn-primary {
  background: #214a80;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none;
}

.login-dark form .btn-primary:hover,
.login-dark form .btn-primary:active {
  background: #214a80;
  outline: none;
}

.login-dark form .forgot {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}

.login-dark form .forgot:hover,
.login-dark form .forgot:active {
  opacity: 1;
  text-decoration: none;
}

.login-dark form .btn-primary:active {
  transform: translateY(1px);
}

.fa {
  padding: 15px;
  text-align: center;
  margin: 5px 5px;
  font-size: 10px;
  width: 50px;
}
.fa-facebook {
  background: #202324;
  color: #4267b2;
  border-radius: 25px;
}
.fa-twitter {
  background: #202324;
  color: #1da1f2;
  border-radius: 25px;
}
.fa-pinterest {
  background: #202324;
  color: #e60023;
  border-radius: 25px;
}
.fa-linkedin {
  background: #202324;
  color: #0e76a8;
  border-radius: 25px;
}
.fa-instagram {
  background: #202324;
  color: #8a3ab9;
  border-radius: 25px;
}
.fa-youtube {
  background: #202324;
  color: #ff0000;
  border-radius: 25px;
}
.fa-google {
  background: #202324;
  color: white;
  border-radius: 25px;
}
.fa-snapchat-ghost {
  background: #202324;
  color: #fffc00;
  border-radius: 25px;
}
.fa-skype {
  background: #202324;
  color: #00aff0;
  border-radius: 25px;
}
.fa:hover {
  opacity: 0.9;
  border-radius: 25px;
}
